*{
    font-family: sans-serif;
    text-align: justify;
}

.summary{
    text-align: justify;
}

ul{
    list-style-type: none;
}

.skills{
    border-right:1px solid lightgrey;
    background-color: midnightblue;
    color: antiquewhite;
}

.skills ul{
    list-style-type: disc;
    padding-inline-start: 20px;
}

.skills ul li{
    text-align: initial;
}

.xpHead{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom:4px;
}

.xpDesignation{
    margin-bottom:2px;
}