.header-image-row{
    padding: 5% 5% 7% 5%;
}

.header-background-overlay{
    background-color: white;
    border-radius: 10%;
    box-shadow: 0px 5px 4px 0px gray;
}

.header-image-text{
    padding: 0px 0px 15px 0px;
}

.header-image-text h3{
    color: rgb(0, 0, 107);
}

.header-image-text h5{
    color: rgb(0, 0, 107);
}

.contact-input-group{
    margin-bottom: 15px;
}

.contact-input-group input, textarea{
    box-shadow: 0px 2px 2px gray;
}

.contact-submit-btn{
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
}

.contact-image img{
    width: 100%;
    border-radius: 20%;
}

.icon img{
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .header-image-row{
        padding: 2%;
        border-radius: 10%;
    }

    .header-image-text{
        border-radius: 10%;
    }

    .header-image-text-overlay form{
        padding: 2%;
    }

    .contact-image{
        padding-bottom: 2%;
        text-align: center;
    }
}